
body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    overflow-x: hidden;
    display: block;

}

* {
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

h1, h2, h3, h4 ,h5 ,h6 {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ScrollBar */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #fff; 
}

::-webkit-scrollbar-thumb {
	background-color: #1E90FF;
	border-radius: 5px;
	height: 100px;
	transition: all 1s ease;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1EAAFF;
}


.container {
    /* box-sizing: border-box; */

    /* max-width: 85vw;
    padding: 0 5vw; */

    width: 75vw;

    /* max-width: 1320px;
    padding: 0 10px; */
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Header */

.header {
    position: fixed;
    width: 100vw;
    padding: 1.5vw 0;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 1111;

    transition: .3s;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: .7vw 0;

    background-color: #1E90FF;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header__logo {
    width: 320px;
    height: 50px;
    
    /* margin-left: 0; */

    cursor: pointer;
}

/* Nav */

.nav {
    font-size: 25px;
    /* text-transform: uppercase; */
    font-weight: 600;

}

/* .nav.active {
    display: block;
} */

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 .5vw;
    position: relative;

    transition: color .2s ease;
    
    color: #fff;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: rgb(255, 255, 0);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s ease;
}

.nav__link:hover, .nav__link.active {
    color: rgb(255, 255, 0);
}

.nav__link:hover::after {
    opacity: 1;
}

.nav__link.active::after {
    opacity: 1;
}

/* Sidebar */

.nav__sidebar {
    position: absolute;
    display: block;

    right: -100%;
    top: 0;

    height: 100vh;
    width: 40%;
    padding: 60px 40px;

    background: #fff;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-out;
}

.nav__sidebar.active {
    /* display: block; */
    right: 0;
}

.nav__sidebar ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.sidebar__link {
    color: #000;
    font-size: 25px;
    font-weight: 600;
    position: relative;
}

.sidebar__link.active {
    color: #1E90FF;
}

.sidebar__link.active::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #2995FF;
    opacity: 1;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .2s ease;
}

.sidebar__close {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;

    cursor: pointer;

    position: absolute;
    top: 10px;
    left: 80%;
    z-index: 1111;
}

.sidebar__close::before, .sidebar__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background-color: #000;
    transform-origin: center;
}

.sidebar__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.sidebar__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Burger */

.nav__toggle {
    width: 40px;
    height: 32px;
    /* height: 26px; */
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: relative;
}

.nav__toggle:focus {
    outline: none;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 4px;

    background-color: #fff;
    border-radius: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: .3s linear;
}

.nav-toggle__item::before {
    top: -11px;
}

.nav-toggle__item::after {
    bottom: -11px;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 10px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.nav__toggle.active .nav-toggle__item {
    background: none;
}

.nav__toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    top: -15px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.nav__toggle.active .nav-toggle__item:after {
    bottom: -11px;
    transform-origin: left bottom;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), 
    url("./images/pic1.jpg") center no-repeat; 
    background-size: cover !important;

    color: #fff;
}

.intro__text {
    margin-top: 5vw;
    width: 70%;
}

.intro__title {
    display: block;

    font-size: 6vw;
    font-weight: bold;
    text-align-last: left;
    line-height: 120%;

    margin-bottom: 1.5vw;
}

.intro__desc {
    display: block;
    font-size: 3vw;
    
    text-align-last: left;
    line-height: 120%;

    margin-bottom: 3vw;
}

.intro--button {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #000;

    width: 265px;
    height: 80px;
/* 
    width: 16vw;
    height: 9.6vh; */

    background: rgb(255, 255, 0);
    transition: background .2s ease;
}

.intro--button:hover {
    background: #fff;
}

/* Brands */
.brands {
    padding: 2vw 0;
    border-bottom: 1px solid #DDDDDD;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logos img{
    width: 12%;
    height: auto;
}

/* Services */
.services {
    margin: 2vw 0;
}

.services__title {
    text-align: center;
    font-weight: 700;
    
    font-size: 4.3vw;
    margin-bottom: 2vw;
}

.services__desc {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 4vw;
    padding: 0 15%;
    line-height: 140%;
}

/* Card */

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -30px;
}

.card__item {
    flex-basis: 33.33%;
    /* width: 440px;
    height: 440px; */
    overflow: hidden;
    position: relative;

    padding: 0 2%;
    margin-bottom: 4%;
}

.card__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    margin-bottom: 5%;
}

.card__image img {
    width: 100%;
    height: auto;
    float: left;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: center;
    object-fit: cover;

    overflow: hidden;   

    transition: transform .6s ease;
}

.card__image:hover img {
    transform: scale(1.1);
}

.card__title {
    /* text-align: center;

    font-size: 30px;
    font-weight: 700;
*/
    margin-bottom: 5%; 

    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;

}

.card__desc {
    color: rgb(85, 85, 85);
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

/* About */

.about {
    

    padding: 6vw 0;
    background: #DDDDDD;
}

.about__title {
    font-size: 4.3vw;
    text-align: center;
    margin-bottom: 2vw;
}

.about__desc {
    font-size: 1.3vw;
    line-height: 150%;
    font-weight: 400;
    text-align: center;
}

.about__desc--top {
    margin-bottom: 5vw;
}

/* .about__desc--bottom {

} */

.about__video {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 5vw;
}

.about__video video {
    width: 50vw;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}

/* Contact */
.contact {
    padding: 6vw 0;
    color: #000000;
    background-color: rgb(255, 255, 0);

    /* transition: height 0.3s ease, padding 0.3s ease; */
    /* transition: max-height 0.3s ease; */
}

.contact a {
    color: #000000;
}

.contact__title {
    text-align: center;
    font-size: 4.3vw;
    margin-bottom: 1vw;
}

.contact__desc {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 3vw;
}

.contact__desc a {
    /* text-decoration: underline 2px solid #000; */
    border-bottom: 1px solid #000;
}

.contact__loading {
    display: none;
    align-items: center;
    justify-content: center;
    
    font-size: 4vw;
    text-align: center;
    gap: 0.7vw;

    margin-bottom: 3.5vw;
}

.contact__loading span {
    font-size: 2.5vw;
    font-weight: 700;
}

.contact__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    position: relative;

    transition: .3s;
}

.contact__form.sent {
    display: none;
}

.contact__form input {
    /* float: left; */
    width: 30%;
    height: 4.5vw;
    border: none;
    padding: 0 0 0 1.5vw;
    border-radius: 0;
    font-size: 1.2vw;
    margin-bottom: 2vw;
}

.contact__form textarea {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 10vw;
    
    border: none;
    padding: 1.5vw;
    border-radius: 0;
    font-size: 1.2vw;

    margin-bottom: 2vw;
    
}

.contact__form textarea:focus,
.contact__form input:focus {
    outline: 2px solid #1E90FF;
}

.contact__form button {
    color: #fff;
    background-color: #000000;

    width: auto;
    height: 5vw;
    cursor: pointer;
    text-align: center;
    font-size: 1.2vw;
    padding: 0 2vw;
    border: none;

    transition: background .2s ease,
    color .2s ease;
}

.contact__form button:hover {
    background: #fff;
    color: #000;
}

/* Map */

.map {
    width: 100%;
    /* position: relative; */
    overflow: hidden;

}

.map iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;    
    height: 50vh;
}

/* Footer */
.footer {
    padding: 2vw 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* float: left; */
    font-size: 1.3vw;

    color: #000;
}

.copyright__link {
    border-bottom: 1px solid #000;
}

.footer__social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    /* float: right; */
    
    font-size: 1.3vw;
    color: #000;
}

.footer__social a {
    margin-left: 1vw;
}

/* -------------------------------------------------------1280px------------------------------------------------------- */
@media (max-width: 1280px) {

    /* Intro */
    .intro--button {
        font-size: 24px;
        color: #000;
    
        width: 265px;
        height: 80px;
    }

    /* About */
    .about {
        padding: 4vw 0;
    }

    .about__title {
        font-size: 5vw;
    }

    .about__desc {
        font-size: 1.5vw;
    }

    /* Contact */
    .contact__form input {
        font-size: 1.5vw;
    }

    .contact__form textarea {
        font-size: 1.5vw;
    }

    .contact__form button {
        font-size: 1.5vw;
    }

}

/* -------------------------------------------------------990px------------------------------------------------------- */
@media (max-width: 990px) {

    /* Header */
    .header__logo {
        width: 290px;
        height: 45px;
    }
    
    .header {
        padding: 4vw 0;
    }

    .header.fixed {
        padding: 1.4vw 0;
    }
     
    .container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 30px;
    }

    /* Intro */
    .intro__title {
        font-size: 8vw;
        margin-bottom: 2vw;
    }

    .intro__desc {
        font-size: 5vw;
        margin-bottom: 4vw;
    }

    /* Service */
    .services {
        margin: 2vw 0;
    }

    .services__title {
        font-size: 6vw;
        margin-bottom: 2vw;
    }

    .services__desc {
        padding: 0;
        font-size: 2vw;
    }

    /* Card */
    .card__image {
        margin-bottom: 2%;
    }

    .card__title {
        font-size: 2vw;
        margin-bottom: 2%;
    }

    .card__desc {
        font-size: 1.6vw;
    }

    /* About */
    .about__video video {
        width: 75%;
    }

    /* Contact */
    .contact {
        padding: 4vw 0;
    }

    .contact__title {
        font-size: 5vw;
    }

    .contact__desc {
        font-size: 2vw;
    }

    /* Footer */

    .footer__copyright {
        font-size: 1.8vw;
    }

    .footer__social {
        font-size: 1.8vw;
    }
}

/* -------------------------------------------------------770px------------------------------------------------------- */
@media (max-width: 770px) {

    /* Header */
    .header__logo {
        width: 260px;
        height: 40px;
    }

    .nav {
        display: none;
    }

    .nav__toggle {
        display: block;
    }

    /* Intro */
    .intro--button {
        font-size: 24px;

        width: 240px;
        height: 70px;
    }

    /* About */
    .about__title {
        font-size: 7vw;
    }

    .about__desc {
        font-size: 2vw;
    }

    .about__video video {
        width: 75%;
    }

    /* Contact */
    .contact__title {
        font-size: 6vw;
    }
    
    .contact__desc {
        font-size: 2.5vw;
    }

    .contact__form input {
        font-size: 2vw;

        width: 100%;
        height: 48px;
    }

    .contact__form textarea {
        font-size: 2vw;
    }

    .contact__form button {
        font-size: 2vw;
        height: 8vw;
    }

    .contact__loading {
        font-size: 5vw;
    }

    .contact__loading span {
        font-size: 4vw;
    }

}

/* -------------------------------------------------------575px------------------------------------------------------- */
@media (max-width: 575px) {
    /* Header */
    .header__logo {
        width: 200px;
        height: 31px;
    }

    /* Nav sidebar */
    .nav__sidebar {
        display: flex;
        justify-content: center;
        padding: 60px 0;
    }

    .nav__sidebar ul li {
        text-align: center;
    }

    .sidebar__close {
        top: 10px;
        left: 70%;
    }

    
    
    /* Intro */
    .intro__text {
        width: 100%;
    }

    .intro__title {
        font-size: 10vw;
    }

    .intro__desc {
        font-size: 6vw;
    }

    .intro--button {
        font-size: 20px;

        width: 220px;
        height: 60px;
    }

    /* Card */

    .card__item {
        flex-basis: 50%;
    }

    .card__image {
        margin-bottom: 2%;
    }

    .card__title {
        font-size: 3.5vw;
        margin-bottom: 2%;
    }

    .card__desc {
        font-size: 2.5vw;
    }

    /* About */
    .about__title {
        font-size: 8vw;
    }

    .about__desc {
        font-size: 3vw;
    }

    .about__video video {
        width: 100%;
    }

    /* Contact */
    .contact__form {
        justify-content: center;
    }

    .contact__form input {
        font-size: 3vw;
    
        width: 100%;
        height: 42px;
    }
    
    .contact__form textarea {
        font-size: 3vw;
        height: 64px;
    }
    
    .contact__form button {
        font-size: 3vw;
        height: 11vw;
        width: 100%;

        margin-bottom: 2vw;
    }

    .contact__loading {
        font-size: 6vw;
    }

    .contact__loading span {
        font-size: 5vw;
    }


    /* Footer */

    .footer .container {
        flex-direction: column;
    }

    .footer__copyright {
        font-size: 3vw;
        margin-bottom: 1vw;
    }

    .footer__social {
        font-size: 3vw;
    }
}